<?xml version="1.0"?>
<!--
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 * @package MageCloud_CloudwaysManager
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cloudways>
            <general>
                <enabled>0</enabled>
                <email_address></email_address>
                <api_key></api_key>
                <api_endpoint>https://api.cloudways.com/api/v1/</api_endpoint>
                <purge_auto>0</purge_auto>
            </general>
        </cloudways>
    </default>
</config>